body {
    background-color: #ffffff;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
}
#maintext {
    transition: 0.5s;
}

.content {
    text-align:center;
  }